.bataille-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bataille-top h1 {
    color: whitesmoke;
    text-align: center;
}

.bataille-top button {
    height: 8rex;
    width: 15rem;
    font-size: 20px;
}

button {
    height: 4rex;
    width: 10rem;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: rgb(39, 193, 88);
}

li {
    font-weight: 900;
}

.bataille-game-content {
    width: 100%;
}

.joueurs-informations {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.bot-carte, .joueur-carte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 18rem;
    height: 8rex;
}

.bot-infos {
    color: rgb(231, 67, 67);
}

.player-infos {
    color: rgb(39, 193, 88);
}

.cartes-selectionnees {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.resultat-manche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    font-weight: 600;
    font-size: 21px;
    width: 18rem;
}