body {
  background-color: aliceblue;
}

.content {
  margin: auto;
  border : 2px solid black;
  background-color:rgb(192, 210, 225);
  width: 70rem;
  height: 125rex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}